@CHARSET "ISO-8859-1";
#blue_background{
	background-color: blue;
	height: 300px;
}

#display_page{
	height: 50px;
	background-color: red;
	width: 955px;
	margin-left: auto;
	margin-right:auto;
}

#logo{
	margin-left: auto;
	margin-right:auto;
	background-color:green;
	width: 915px;
}
