html
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #b0bac2;
	height: 100%;
}

#page
{		
	box-shadow:0px 5px 20px 2px rgba(0, 0, 0, 0.6);	
	margin-bottom: 20px;
	background-color: silver;
	border: 1px solid #C9E0ED;
}

#banner
{	
	box-shadow:0px 5px 20px 2px rgba(0, 0, 0, 0.6);	
	margin: 0;
	padding: 0;
	border-top: 0px solid #C9E0ED;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#mainmenu
{
	position: relative;
	margin-top: -70px;
	width: 100%;
	margin-left: -10px;
}

.menu_button 
{
	position: relative;
	display: inline;	
}

#mainmenu a
{
	position: relative;
	margin-left: -2px;
	margin-right: -2px;
}

#mainmenu a img
{
	border-top: thin solid rgba(0,110,255,0.9);
}

#mainmenu a:hover
{
	background-color: rgba(0,110,255,0.7);
	height: 10px;
}

#content
{
	position: relative;
	display: inline;
	float: left;
    padding: 20px;
    width: 513px;
    background-color: #d8e0e6;
    margin-bottom: 0px;
    min-height: 440px;
}

#contact_bar {
	position: relative;
	display: inline;
	float: right;
	width: 440px;
	margin-top: 0px;
	margin-right: 0px;
	border: 0px solid #C9E0ED;
	padding: 15px;
	min-height: 440px;
}

.txt_contact_header 
{
	font-weight: bold;	
}

#footer
{
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
	background-color: #d8e0e6;
}

#blue_background{
	background-color: #005e9b;
	height: 380px;
}

#display_page{
	height: 40px;	
	width: 1024px;
	margin-left: auto;
	margin-right:auto;	
	margin-top: 5px;
}

.indicator_region {
	position: relative;
	display: inline;
	padding: 10px;
	color: white;
}

#admin_region {
	float: right;
}

#selected_page {
	float: left;
	font-weight: bold;
}

#admin{
	color: #BFC8CE;
	font-family: sans-serif;
	font-style: normal;
	text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}